.site-header {
	width: var(--width);
	margin: 0 auto;
	padding: 2rem 0;
	font-size:1.25em;
	display: flex;
	font-weight: 700;
	align-items: center;
	line-height: 0;
	@include media(desktop) {
		padding: 2rem;
	        line-height: 1.15;
	}
	position:relative;
}

.site-logo {
	img {
		width: 140px;
		height: auto;
		@include media(desktop) {
			width: 200px;
			height: auto;
		}
	}

}
.header-bar {
	width: 100%;
	background-color: $color__header_background;
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
	
}

.submenu-expand {
	background: url(assets/icons/details-open.svg) no-repeat 100%;
	height: 20px;
	width: 25px;
	border: none;
	outline: none;
	position: absolute;
	top: 20px;
	right: 10px;
}


.main-navigation {
	margin-left: auto;

	.main-menu {
		display: none;
		@include media(desktop) {
			display: block;
		}
		margin: 0;
		list-style: none;
		li {
			color: black;
			display: inline-block;
			a {
				text-decoration: none;
				color: #000;

				img {
					border-radius: 0;
				}
			}
			width: 9em;
			text-align: center;
			padding: 1rem 0;
			position: relative;

		}
		> .menu-install-button {
			border: 1px solid $color__logo_blue;
			
			border-radius: 0.375rem;
			a {
				display: inline-block;
				color: $color__logo_blue;
				background-color: transparent;
			}
		}
		

		.sub-menu {
			display: none;
			background-color: $color__logo_blue;
			position: absolute;
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 0;
			z-index:999;
			li {
				a {
					color: #fff;
					img {
						border-radius: 0;
					}
				}
			
			}
			li:hover {
				background-color:blue;
			}
			
		}
		.sub-menu .open {
			display: block;
		
		}
	}
	
	

	


	.main-menu-more {
		display: block;
		background: url(assets/icons/navbar-toggle-open.svg) no-repeat 50%;
		width: 2rem;
		height: 2rem;
		background-size: 1.5rem;
		border: none;
		outline: none;
		@include media(desktop) {
			display: none;

		}
		&.close {
			background-image: url(assets/icons/navbar-toggle-close.svg);
		}
	}

	
}

#site-mobiile-navigation-bg {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	height: 100%;
	overflow: hidden;
	animation: fade_in 0.3s forwards;	
}



#site-mobile-navigation {
	display: flex;
	width: 350px;
	height: 100%;
	background-color: $color__logo_blue;
	@include media(mobile) {
		width: calc(100% - 60px);
		height: 100%;
		padding-top: 2.625rem;
	}
	transform: translate(-100%);
	animation: slide_in_left 0.3s forwards;
	justify-content: center;

	ul {
		margin: 0;
		
		 li {
			 margin: 1.5rem auto;
			 list-style: none;
			 a {
				color: white;
				text-decoration: none;
				outline: none;
				font-size: 1.2em;
				font-weight: 400;

				img {
					border-radius: 0;
				}
			}
		}
	}
	> .mobile-main-menu {
		padding-left: 0px;
		padding-top: 42px;
		>li {
			margin: 24px auto;
			>.submenu-expand {
				display: none;
			}
			
		}
		>.menu-install-button {
			
		}
		
		
	}

	.mobile-social-menu {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		width: 100%;
		padding: 32px;
		a {
        
			flex: 1;
			display: block;

			width: 32px;
			height: 32px;
	
			@each $name in "facebook", "twitter", "github", "telegram", "discord" {
				&[href*="#{$name}"] {
				  background-image: url("assets/icons/media-#{$name}.svg");
				  background-size: 100% 100%;
				}
	
			}
	
		}
	}

}





@keyframes slide_in_left {
	100% {
		transform: translateX(0%);
	}
}

@keyframes fade_in {
	from {
		opacity: 0;
	}
	to {
			opacity: 1;
	}
}
