.site-header {
	width: var(--width);
	margin: 0 auto;
	padding: 2rem;
	font-size:1.25em;
	display: flex;
	font-weight: 700;
	align-items: center;
	@include media(mobile) {
		padding: 2rem 0;
	}
}

.site-logo {
	img {
		width: 200px;
		height: auto;
		@include media(mobile) {
			width: 140px;
			height: auto;
		}
	}

}
.header-bar {
	width: 100%;
	background-color: $color__header_background;
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
	
}

.main-navigation {
	margin-left: auto;

	ul {
		margin: 0;
		list-style: none;
		li {
			color: black;
			display: inline-block;
			a {
				text-decoration: none;
				color: #000;
			}
			width: 9em;
			text-align: center;
			padding: 1rem 0;
		}
	}
	.sub-menu {
		display: none;
	}
	.menu-install-button {
		border: 1px solid $color__logo_blue;
		border-radius: 0.375rem;
		a {
			display: inline-block;

		}
	}
	.main-menu {
		display: block;
		@include media(mobile) {
			display: none
		}
	}

	.main-menu-more {
		display: none;
		background: url(assets/icons/navbar-toggle-open.svg) no-repeat 100%;
		width: 2rem;
		height: 2rem;
		background-size: 1.5rem;
		border: none;
		outline: none;
		@include media(mobile) {
			display: block;

		}
	}
	
}