.post-thumbnail-list {

    padding-bottom: 32px;
    .post-thumbnail {
        margin: 0;
    }
    >.entry-header {
        >a {

            >h1 {
                line-height: 1.15;
            }
        }
    }
    

    >.operator {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > span {
            margin: 0;
        }

        > a {
            outline: none;
            text-decoration: none;
            border: 1px solid #333;
            display:inline-block;
            padding: 20px;
        }
    }

   
}

.wp-pagenavi {
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;

    >.nextpostslink:first-child {
       margin-left: auto;
    }


    > a {
        outline: none;
        text-decoration: none;
        border: 1px solid #333;
        display:inline-block;
        padding: 20px 0;
        width: 20em;
        text-align: center;
    }

    >a:hover {
        text-decoration: none;
        outline: none;
        border: 1px solid #333;
    }
}