.site-content {
    min-height: 100%;
}

.site-main {
    padding-bottom: $size__footer-height;
    padding: 0 3rem;
    width: var(--width);
    margin: 0 auto;

    @include media(mobile) {
        margin: 0 auto;
        padding: 0;
    }
    .entry-header {
        text-align: center;
    }
    .entry-content {
        padding: 0 3rem  $size__footer-height 3rem;
        
        @include media(mobile) {
            padding: 0 0  $size__footer-height 0;
        }
    }
}
