.site-content {
    min-height: 100%;

}

.site-main {
    padding-bottom: $size__footer-height+50px;
    padding: 32px 3rem;
    width: var(--width);
    max-width: $size__site-width;
    margin: 0 auto;

    @include media(tablet) {
        margin: 0 auto;
        padding: 32px 0;
    }
    .entry-header {
        text-align: left;
        a {
            text-decoration: none;
            outline: none;
            color: $color__site-color;
            word-wrap:break-word;
            font-size: 32px;
            font-weight: bold;
            padding: 26.5px 0;
        }
    }
    .entry-content {
        padding: 0 0  $size__footer-height+50px 0;
        line-height: 1.5;
        color: $color__site-color;
        @include media(mobile) {
            padding: 0 0  $size__footer-height+50px 0;
            line-height: 1.5;
            color: $color__site-color;
        }
    }

    
}
.entry-meta {
    text-align: left;
    color: #AAA;
}
