
:root {
    --width : min(#{$desktop_width}, calc(100% - #{$size__body_margin}));
    @include media(mobile) {
        --width: calc(100% - #{$size__body_margin/2});
    }
}

* {
    box-sizing: border-box;
  }

html {
    height: 100%;
}

body {
    font-family: $specific-font;
    font-size: 16px;

    &.no-scroll {
        overflow: hidden;
    }
    margin: 0;
    height: 100%;
}