@mixin media($res) {
    @if $res == mobile {
        @media only screen and (max-width: $mobile_width) {
            @content;
        }
    }

    @if $res == tablet {
        @media only screen and (max-width: $tablet_width) {
            @content;
        }
    }

    @if $res == desktop {
        @media only screen and (min-width: $desktop_width) {
            @content;
        }
    }
}

@mixin font-family($font-family) {
    font-family: $font-family;
}